/* body
{
	
	 background-image: url(css/money.jpg);
	 background-repeat: no-repeat;
  background-position: right top;
}

 */

p.light {
	font-weight = lighter;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #20B2AA	;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


